# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Windows
Thumbs.db
desktop.ini

# Project Specific
temp/*
!temp/.gitkeep
output/*
!output/.gitkeep
input/*
!input/.gitkeep
ref/*
!ref/.gitkeep
src/ai-v0/artifacts/

# IDEs
.idea/
.vscode/
*.swp
*.swo
